@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=MedievalSharp&display=swap');

/* COLORI, FONT */
h1,h2,h3,h4,.testomodificato{
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.arancio{
    color: #E08D32;
}

.bg-arancio{
    background-color: #E08D32;
}

.bg-nero{
  background-color: #050301;
}
.bg-grigio2{
  background-color: #999999;
}

.bg-aranciosfumato{
  background: linear-gradient(to bottom, rgba(199, 119, 8, 1), rgba(255, 165, 0, 1));
}

.bg-aranciosfumato2{
  background: linear-gradient(to top, rgba(199, 119, 8, 1), rgba(255, 165, 0, 0.6));
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modificato{
  color: #D9C29D;
}

.btn-custom{
    font-family: "MedievalSharp", cursive;
    color: black;
    background-color: #E08D32;
    transition: 0.5s;
}
.btn-custom2{
    font-family: "MedievalSharp", cursive;
    color: black;
    background-color: red;
    transition: 0.5s;
}

.btn-custom2:hover{
    font-family: "MedievalSharp", cursive;
    color: black;
    background-color: red;
    transform: scale(1.30);
}

.btn-custom3{
    font-family: "MedievalSharp", cursive;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
.btn-custom3:hover{
    font-family: "MedievalSharp", cursive;
    color: white;
    background-color: rgb(0, 0, 0);
    transform: scale(1.15);
}

.card-custom{
    background-color: transparent;
}

.btn-custom:hover{
    color: white;
    background-color: #E08D32;
    transform: scale(1.05);
}
.guidacustom{
    color: black;
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.guidacustom2{
    color: white;
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
.card-img-container {
    height: 200px;
    overflow: hidden;
}

.card-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bg-black-fade {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.barraorizzontale{
    width: 100px;
    color: white;
    
}

/* NAVBAR */

.dropdown-menu{
  background-color: rgba(224, 141, 50, 0.8);
    border: none;
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-link{
    color: white;
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
transition: 0.5s;
}

.nav-link:hover{
    color: #E08D32;
    font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  transform: scale(1.20);
}

.nav-custom{
    background-color: transparent;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
